<app-nav-bar></app-nav-bar>
<div class="corpo-01">
    <div class="bloco-01"></div>
    <div class="bloco-02">
        <div class="title"><h1>Descubra o mundo das <span>ações</span>.</h1></div>
        
        <div class="texto">
            <p>Invista em empresas líderes e faça parte do crescimento econômico. Na nossa plataforma, você terá acesso a uma ampla variedade de ações de setores diversos, como tecnologia, saúde, finanças e muito mais.</p>
            <p>Acompanhe o desempenho das ações em tempo real, tome decisões informadas e construa um portfólio diversificado. Aproveite a emoção e os benefícios de investir no mercado de ações hoje mesmo.</p>
        </div>
        <button (click)="goToCadastroPage()" class="btn">Inicie agora!</button>
    </div>
</div>
<app-footer></app-footer>