<app-nav-bar></app-nav-bar>
<div class="corpo-01">
    <div class="bloco-01">
        <div class="title">
            <h2>SIGA NOSSO GUIA DE 04 PASSOS</h2>
            <p>Quer aprender a investir de maneira rápida e descomplicada? </p>
            <p>Com ZERO risco e mais lucro a Inffinit te auxilia a conquistar sua liberdade financeira!</p>
        </div>
    </div>
    <div class="bloco-02">
        <div class="bloco">
            <h3>01. Cadastre-se</h3>
            <p>Realize seu cadastro para ter acesso completo aos benefícios e aquisição de cursos.  </p>
            <img class="img" src="../../../assets/media/automatizar-01 (1).png" alt="">
        </div>
        <div class="bloco">
            <h3>02. Seleção de curso</h3>
            <p>Analise as vantagens únicas de cada plano e escolha o curso desejado.</p>
            <img class="img" src="../../../assets/media/automatizar-02 (2).png"  alt="">
        </div>
        <div class="bloco">
            <h3>03. Configuração</h3>
            <p>Autentique sua estratégia e a configure na plataforma de operações junto com um especialista.</p>
            <img class="img" src="../../../assets/media/automatizar-03 (2).png" alt="">
        </div>
        <div class="bloco">
            <h3>04. Comece a lucrar</h3>
            <p>Em até 48 horas, você terá acesso total a sua plataforma. Configurada e pronta para obter resultados e render lucros.</p>
            <img class="img" src="../../../assets/media/automatizar-04 (1).png" alt="">

        </div>
    </div>
    <app-abrir-conta></app-abrir-conta>
</div>
<app-grafico-vela></app-grafico-vela>
<app-footer></app-footer>