/* Import the Google Font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
*{
  margin: 0;
  padding: 0;
}
.title{
    font-size: 40px;
    color: #474747;
}
.rodape{
    color: #ffffff;
    font-size: 20px;
}
/* Container styles */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Lato';
}
.info{
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0;

}
.info p{
  font-weight: bold;
  color: #6526e3;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background: #d5d5d5;
  border-radius: 20px;
  margin-bottom: 30px;
}
.propriedades{
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.chart {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
figure{
    margin: 10px;
    
}
.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 250px;
  border: 20px solid #d5d5d5;
  border-radius: 100px;
  line-height: 50px;
  
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: transparent;
}

.porcentagem{
  color: #6526e3;
  padding: 10px;
  font-weight: bolder;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: #6526e3;
}

.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: #1d97e3;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #fae827;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.nodes + svg .outer {
  stroke: #cd39f6;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='35'] .outer {
    stroke-dashoffset: 350;
    -webkit-animation: show35 2s;
    animation: show35 2s;
  }

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}

button{
    margin: 30px 0;
    font-weight: bolder;
    width: 180px;
    color: #202020;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}





@-webkit-keyframes show35 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 350;
    }
  }
  
  @keyframes show35 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 350;
    }
  }
/* END Keyframes for the initial animation */





@media screen and (max-width: 768px) {
  .container{
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0;
  }

  .info{
    width: 100%;
    flex-direction: column;
  }
  .propriedades{
    width: 90%;
  }
  .title{
    padding: 50px 0 0 0;
  }
}