<app-nav-bar></app-nav-bar>
<div class="corpo-01">
    <div class="bloco bloco-01">
        <div class="title">
            <h1>Explore o fascinante campo <span>dos índices</span></h1>
        </div>
        <div class="texto">
            <p>Tenha acesso a informações atualizadas sobre os principais índices, como S&P 500, Dow Jones e NASDAQ. Identifique tendências de mercado e setoriais, aproveitando oportunidades de investimento com base em análises precisas.</p>
        </div>
        <div class="btn-indices" (click)="goToCadastroPage()"><button class="btn">Inicie agora!</button></div>
        
    </div>
    <div class="bloco bloco-02"></div>
</div>
<div class="acoes">
    <div class="acao">
        <div class="b1"></div>
        <div class="b2">
            <div class="n1"><p>S&P 500</p></div>
            <div class="n2"><p>INDEXSP: .INX</p></div>
        </div>
    </div>
    <div class="acao">
        <div class="b1"></div>
        <div class="b2">
            <div class="n1"><p>Nasdaq, Inc.</p></div>
            <div class="n2"><p>BVMF: N1DA34</p></div>
        </div>
    </div>
    <div class="acao">
        <div class="b1"></div>
        <div class="b2">
            <div class="n1"><p>Dow Jones</p></div>
            <div class="n2"><p>INDEXDJX: .DJI</p></div>
        </div>
    </div>
</div>
<app-footer></app-footer>