<app-nav-bar></app-nav-bar>
<app-header header="Plataforma"></app-header>
<div class="corpo-01">
    <div class="texto">
        
        <h1>Unifique as quatro direções do mercado</h1>
    </div>
    <div class="texto">
        <p>Excelentes possibilidades de negociação e ferramentas de análise técnica com a plataforma multi-ativos mais avançada para negociação online!</p>
    </div>
</div>
<div class="corpo-02">
    <div class="c2b1">
        <div class="title">
            <h2>Todos os dispositivos!</h2>
        </div>
        <div class="texto">
            <p>Flexibilidade</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Análise técnica profissional</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Suporte tecnico 24 horas</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Quatro modos de execução de ordem</p>
        </div>
        <!-- <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Quatro modos de execução de ordem</p>
        </div> -->
        <button class="btn" (click)="goToCadastroPage()">Inicie agora!</button>
    </div>
    <div class="c2b2"></div>
</div>
<div class="corpo-03">
    <div class="c3b1"></div>
    <div class="c3b2">
        <div class="title">
            <h2>Especificidade!</h2>
        </div>
        <div class="texto">
            <p>Inicie suas operações com nosso auxílio nas corretoras recomendadas, personalizadas de acordo com o perfil de cada aluno.</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Dados protegidos.</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Estratégias exclusivas para cada perfil.</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Dinamismo entre empresa e cliente.</p>
        </div>
        <div class="texto texto-p">
            <i class="fa fa-chevron-circle-right custom-icon" aria-hidden="true"></i>
            <p>Direcionamento rápido e flúido.</p>
        </div>
    </div>
</div>
<div class="corpo-04">
    <div class="c4b1">
        <div class="title">
            <h2>
                LEVE SUAS NEGOCIAÇÕES NO BOLSO!
            </h2>
        </div>
        <div class="texto">
            <p>Entendemos a realidade de muitos usuários, e é por isso que a Inffinit oferece acesso multiplataforma conveniente aos mercados.</p>
            <p>Negocie em qualquer lugar, a qualquer hora, seja pelo seu smartphone, tablet ou desktop.</p>
        </div>
        <div class="btn-app">
            <button class="btn" (click)="goToCadastroPage()">ADQUIRA JÁ</button>
        </div>
    </div>
    <div class="c4b2"></div>
</div>
<app-abrir-conta></app-abrir-conta>
<app-footer></app-footer>