<app-nav-bar></app-nav-bar>
<div class="corpo-01">
    <div class="title">
        <h1>SIGA NOSSO GUIA DE 04 PASSOS</h1>
    </div>
    <div class="texto">
        <p>Quer aprender a investir de maneira rápida e descomplicada? Com ZERO risco e mais lucro a Inffinit te auxilia a conquistar sua liberdade financeira!</p>
    </div>
</div>
<div class="corpo-02">
    <div class="info">
        <div class="bloco-01">
            <div class="leiaut">
                <div class="titlw">
                    <h2>Passo 01</h2>
                </div>
                <div class="texte">
                    <p>cadastre-se</p>
                    <p>Realize seu cadastro para ter acesso completo aos benefícios e aquisição de cursos.</p>
                </div>
            </div>
        </div>
        <div class="bloco-02 img1" id="img1"></div>
    </div>
    <div class="seta-1"></div>
    <div class="info">
        <div class="bloco-02 img2"></div>
        <div class="bloco-01">
            <div class="leiaut">
                <div class="titlw">
                    <h2>Passo 02</h2>
                </div>
                <div class="texte">
                    <p>cadastre-se</p>
                    <p>Realize seu cadastro para ter acesso completo aos benefícios e aquisição de cursos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="seta-2"></div>
    <div class="info">
        <div class="bloco-01">
            <div class="leiaut">
                <div class="titlw">
                    <h2>Passo 03</h2>
                </div>
                <div class="texte">
                    <p>cadastre-se</p>
                    <p>Realize seu cadastro para ter acesso completo aos benefícios e aquisição de cursos.</p>
                </div>
            </div>
        </div>
        <div class="bloco-02 img3"></div>
    </div>
    <div class="seta-1"></div>
    <div class="info">
        <div class="bloco-02  img4"></div>
        <div class="bloco-01">
            <div class="leiaut">
                <div class="titlw">
                    <h2>Passo 04</h2>
                </div>
                <div class="texte">
                    <p>cadastre-se</p>
                    <p>Realize seu cadastro para ter acesso completo aos benefícios e aquisição de cursos.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="corpo-03">
    <div class="title">
        <h1 class="h-1">Agora que você já</h1>
        <h1 class="h-2">entendeu como funciona</h1>
        <h1 class="h-3">Escolha seu curso!</h1>
    </div>
    <div class="btn-funciona">
        <button routerLink="/contas" class="btn">VER PLANOS</button>
    </div>
</div>
<app-footer></app-footer>