<app-nav-bar></app-nav-bar>

<div class="corpo-01">
    <div class="grid-01">
        <div class="g1">
            <div class="title">
                <h1>Um pouco sobre nossa história</h1>
            </div>
            <div class="texto">
                <p>A InffinitX foi fundada em 2021 como uma empresa de tecnologia e ensino voltada para o mercado financeiro. Desde então, tem se dedicado a fornecer conteúdo e ferramentas para auxiliar o investimento consciente e com ênfase em resultados.</p>
            </div>
        </div>
        <div class="g2">
            <div class="img img1"></div>
            <div class="img img2"></div>
        </div>
    </div>
</div>



<div class="corpo-02">
    <div class="grid-01">
        <div class="g1">
            <div class="title">
                <h1>O que </h1>
                <h1 class="h1-2">queremos</h1>
                <h1>transmitir?</h1>
            </div>
            
        </div>
        <div class="g2">
            <div class="info">
                <div class="title">
                    <h2>Missão:</h2>
                </div>
                <div class="texto">
                    <p>Nossa missão é capacitar e educar investidores, fornecendo as ferramentas, conhecimentos e suporte necessários para que alcancem seus objetivos financeiros. Buscamos democratizar o acesso ao mercado financeiro e ajudar nossos clientes a tomar decisões informadas e conscientes.</p>
                </div>
            </div>
            <div class="info">
                <div class="title">
                    <h2>Visão:</h2>
                </div>
                <div class="texto">
                    <p>Nossa visão é ser reconhecidos como líderes no fornecimento de soluções de educação e tecnologia para investidores. Queremos ser uma referência no mercado, oferecendo serviços inovadores e de qualidade que impulsionem o sucesso financeiro de nossos clientes.</p>
                </div>
            </div>
            <div class="info">
                <div class="title">
                    <h2>Valores:</h2>
                </div>
                <div class="texto">
                    <p>Excelência, Integridade, Conhecimento, Inovação, Suporte ao Cliente.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="corpo-03">
    <div class="bloco-01">
        <h2 class="t1">Por que a Inffinit?</h2>
        <h2 class="t2">Benefícios</h2>
    </div>
    <div class="bloco-02">
        <div class="info">
            <div class="img img1"></div>
            <div class="title">
                <h2>INÍCIO FACILITADO</h2>
            </div>
            <div class="texto">
                <p>Todo o valor da compra do seu curso será direcionado para o seu saldo e impulsionar suas negociações, garantindo resultados promissores logo de início.</p>
            </div>
        </div>
        <div class="info">
            <div class="img img2"></div>
            <div class="title">
                <h2>INÍCIO FACILITADO</h2>
            </div>
            <div class="texto">
                <p>Todo o valor da compra do seu curso será direcionado para o seu saldo e impulsionar suas negociações, garantindo resultados promissores logo de início.</p>
            </div>
        </div>
        <div class="info">
            <div class="img img3"></div>
            <div class="title">
                <h2>INÍCIO FACILITADO</h2>
            </div>
            <div class="texto">
                <p>Todo o valor da compra do seu curso será direcionado para o seu saldo e impulsionar suas negociações, garantindo resultados promissores logo de início.</p>
            </div>
        </div>
    </div>
</div>



<div class="corpo-04">
    <div class="info">
        <div class="bloco-01">
            <div class="title">
                <h2>Foco na educação</h2>
            </div>
            <div class="texto">
                <p>Desde o início, a InffinitX tem se destacado por sua abordagem educacional. Sua plataforma de ensino online proporciona aos investidores acesso a cursos e recursos de qualidade, desenvolvidos por uma equipe experiente de traders e especialistas financeiros.</p>
            </div>
        </div>
        <div class="bloco-02">
            <div class="img img1"></div>
        </div>
    </div>
    <div class="info">
        <div class="bloco-01">
            <div class="title">
                <h2>Equipe Profissional</h2>
            </div>
            <div class="texto">
                <p>A InffinitX conta com uma equipe de mais de 30 traders profissionais, cada um com mais de 10 anos de experiência no mercado financeiro. Esses profissionais trazem sua expertise para orientar os alunos e ajudá-los a alcançar seus objetivos de investimento.</p>
            </div>
        </div>
        <div class="bloco-02">
            <div class="img img2"></div>
        </div>
    </div>
    <div class="info">
        <div class="bloco-01">
            <div class="title">
                <h2>Tecnologia de Ponta</h2>
            </div>
            <div class="texto">
                <p>Como empresa de tecnologia, a InffinitX utiliza recursos de última geração para fornecer uma plataforma de ensino amigável, segura e confiável. A tecnologia é usada para facilitar o acesso às negociações e oferecer uma experiência aprimorada aos investidores.</p>
            </div>
        </div>
        <div class="bloco-02">
            <div class="img img3"></div>
        </div>
    </div>
</div>


<app-footer></app-footer>