<div class="art-3d">
    <div class="texto">
        <h2>Plano Promocional</h2>
    <p>Conheça um pouco sobre nossos planos e seus benefícios!</p>
    </div>
    <img src="../../../assets/media/art-3d.png" alt="">
</div>
<div class="plans-container">
    <div class="plans-list">
      <div *ngIf="!buttonState" class="plan">
        <div class="header">
            <div class="icon icon1"> </div>
            <div class="title">
                <h3>PLANO PROMO</h3>
            </div>
            <div class="preco">
                <p>de</p>
                <p class="value">U$50,00</p>
            </div>
        </div>
        <div class="btn-plano">
            <button class="btn" routerLink="/plano-promo">Aderir plano</button>
        </div>
        <div class="beneficios">
            <ul>
                <li><i class="fa fa-check verificar" aria-hidden="true"></i>Curso Básico</li>
                <li><i class="fa fa-times nao-verificar" aria-hidden="true"></i>Curso avançado</li>
                <li><i class="fa fa-check verificar" aria-hidden="true"></i> Mentoria</li>
                <li><i class="fa fa-times nao-verificar" aria-hidden="true"></i>Biblioteca de cursos</li>
                <li><i class="fa fa-times nao-verificar" aria-hidden="true"></i>Sala de sinais</li>
                <li><i class="fa fa-times nao-verificar" aria-hidden="true"></i>Acompanhamento diário</li>
                <li><i class="fa fa-times nao-verificar" aria-hidden="true"></i>Grupo de negociações</li>
                <li><i class="fa fa-times nao-verificar" aria-hidden="true"></i>Prioridade de atendimento</li>
                <li><i class="fa fa-times nao-verificar" aria-hidden="true"></i>Prioridade de suporte</li>
                <li><i class="fa fa-check verificar" aria-hidden="true"></i>Acompanhamento</li>
                <li><i class="fa fa-check verificar" aria-hidden="true"></i>Atendimento em até <strong>48h</strong></li>
                <li><i class="fa fa-check verificar" aria-hidden="true"></i> SALDO REVERTIDO PARA OPERAÇÕES!</li>
                <li><strong>Licença de negociações (01 Bots)</strong></li>
                    <div class="robos">
                        <i class="fas fa-robot verificar"></i>
                        <i class="fas fa-robot neutro"></i>
                        <i class="fas fa-robot neutro"></i>
                        <i class="fas fa-robot neutro"></i>
                        <i class="fas fa-robot neutro"></i>
                    </div>
              </ul>
        </div>
      </div>
    </div>
  