#logo{
    height: 25px;
    cursor: pointer;
    padding: 0 20px;
  }
  
  .submenu {
      display: none;
      position: absolute;
      top: 45px; /* Posiciona o submenu abaixo do nav-link */
      z-index: 999; /* Define uma ordem de sobreposição alta para o submenu */
      background-color: #e8e8e8;
      border-radius: 15px;
      padding: 20px;
      min-width: 250px;
    }
    .navbar-nav{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    .nav-item:hover .submenu {
      display: block; /* Exibe o submenu quando o nav-item for hover */
    }
    a{
      cursor: pointer;
    }
    .navbar-brand {
      margin: 0 20px;
    }
    
    .navbar {
      position: relative; /* Adiciona uma posição relativa ao navbar */
      
    }
    .bemVindo{
      background: #6e81d3;
      padding: 0 15px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .bemVindo h4{
      color: #ffffff;
      margin: 0;
    }
    .bemVindo a{
      color: #383838;
      margin: 0;
    }
    .bemVindo a:hover{
      color: #9c9c9c;
      margin: 0;
    }
    .bemVindo h4{
      padding: 0 15px;
      font-weight: bolder;
      font-size: 17px;
    }
    .bemVindo a{
      font-size: 17px;
    }
    
    ul,
    li {
      list-style: none;
      
    }
    
    a {
      text-decoration: none;
      font-weight: bolder;
      padding: 10px 0;
    }
    
    .submenu li {
      margin: 15px 0;
    }
    
    .submenu li a:hover {
      color: #000000;
    }
    
    .btn-cadastrar {
      background-color: #3A3C75;
      color: white;
      border-radius: 15px;
      border: none;
      cursor: pointer;
      padding: 15px 25px;
      margin: 0 30px;
      transition: 0.2s;
      width: 140px;
      border: 1px solid #3A3C75;
    }
    .btn-cadastrar:hover {
      background-color: #4048e6;
      color: #ffffff;
      border: 1px solid #4048e6;
    }
    .icon{
      color: #fff;
      padding: 0 10px;
      font-size: 20px;
    }
    .sair {
      position: relative;
    }
    
    .submenu-sair {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 0.3s, max-height 0.3s;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 8px;
      margin: 8px 0 0;
      list-style: none;
      z-index: 999;
    }
    
    .submenu-sair.show {
      opacity: 1;
      max-height: 200px; /* Ajuste a altura máxima conforme necessário */
    }
    
    @media screen and (max-width: 768px) {
      .btn-cadastrar {
        display: none;
      }
      .submenu{
          right: 0;
          margin: 10px ;
          max-width: 50%;
      }
      .nav-link{
          padding: 0 15px;
          margin: 20px 0;
          max-width: 49%;
          
      }
      .navbar-toggler{
          margin: 0 10px;
      }
    }
   