<app-nav-bar></app-nav-bar>
<app-carrossel></app-carrossel>
<div class="corpo-02">
  <div class="b1">
    <div routerLink="/produtos" class="img" style="background-color: blueviolet;">
      <img src="../../assets/media/moedas.png" alt="">
      <h5>Moedas</h5>
    </div>
    <div routerLink="/produtos" class="img" style="background-color: rgb(241, 226, 15);">
      <img src="../../assets/media/commodities.png" alt="">
      <h5>Commodities</h5>
    </div>
    <div routerLink="/produtos" class="img" style="background-color: rgb(43, 226, 144);">
      <img src="../../assets/media/Energia.png" alt="">
      <h5>Energia</h5>
    </div>
    <div routerLink="/produtos" class="img" style="background-color: rgb(230, 103, 219);">
      <img src="../../assets/media/Acoes.png" alt="">
      <h5>Ações</h5>
    </div>
    <div routerLink="/produtos" class="img" style="background-color: rgb(238, 156, 118);">
      <img src="../../assets/media/Indices.png" alt="">
      <h5>Índices</h5>
    </div>
    <div routerLink="/produtos" class="img" style="background-color: rgb(87, 172, 247);">
      <img src="../../assets/media/Pares de moedas digitais.png" alt="">
      <h5>Pares de moedas digitais</h5>
    </div>
  </div>
  <div class="b2">
    <h2>Ampla gama de opções no mercado.</h2>
    <p class="sub">Com a Infinitx, você vai aprender como lucrar com inúmeros produtos, através de pesquisas independentes que visam promover novas estratégias e ideias de investimento.</p>
    <ul>
      <li>Tenha acesso a mais de 1200 produtos através de moedas, commodities e mercado de ações.</li>
      <li>Extensas ferramentas de pesquisa.</li>
      <li>Sem taxas ou comissões.</li>
      <li>Alta alavancagem em suas negociações.</li>
      <li>Métodos de pagamento confiáveis e seguros.</li>
    </ul>
    <button routerLink="/produtos">Saiba Mais</button>
  </div>
</div>
<div class="corpo-03">
  <div class="c3b1">
    <div class="c3b1-texto">
      <h2 class="c3b1-h2">Reproduzir negociações de grandes investidores</h2>
      <p class="c3b1-span" class="destaque">Invista como um especialista utilizando nossa ferramenta de negociação. Não é preciso ter experiência!</p>
      <p>Junto a Inffinit, você não precisa ter experiência! </p>
      <button class="btn-cadastrar" style="color: white;">Investir</button>
    </div>
  </div>
  <div class="c3b2">
    <img src="../../assets/media/corpo-03.PNG" alt="">
  </div>
</div>
<div class="corpo-04">
  <div class="c4b1">
    <img src="../../assets/media/corpo-04.PNG" alt="" class="c4b1-imagem">
  </div>
  <div class="c4b2">
    <h2>Plataforma multifuncional para lucrar no mercado global</h2>
    <div class="c4b2-texto">
      <p>Excelentes possibilidades de negociação e ferramentas de análise técnica com a plataforma de multiativos mais avançada para negociação online!</p>
      <p>- Número ilimitado de gráficos</p>
      <p>- Grande alcance de mercado</p>
      <p>- Acessível a partir de qualquer smartphone, tablet e PC</p>
      <p>- Cotações em tempo real de instrumentos financeiros no MarketWatch</p>
    </div>
    <div class="c4b3-botao">
      <button class="btn-teste" style="color: white;"  (click)="goToCadastroPage()">Cadastre-se agora</button>
      
    </div>
  </div>
</div>

<div class="corpo-07">
  <div class="c7b1">
    <div class="texto"><h2>Feedback</h2></div>
    <div class="texto"><h2><strong  style="color: #152457;">Opiniões de nossos investidores</strong></h2></div>
    <div class="texto"><p>Para nós, a satisfação do cliente é tudo. Leia o que nossos clientes têm a dizer sobre a confiança e credibilidade dos serviços da nossa empresa.</p></div>
  </div>
  <div class="c7b2">
    <app-opinioes />
  </div>
  <div class="corpo-06">
    <div class="c6b1">
      <h2>Invista em ações globais
      24 horas por dia!</h2>
    </div>
    <div class="c6b1">
      <span>Invista em uma ampla gama de ações internacionais que podem apresentar um potencial de ganho significativo, ao mesmo tempo em que experimentam diversificação de mercado e flutuações cambiais.</span>
     </div>
    <div class="c6b2">
      <button  (click)="goToCadastroPage()">Negocie agora!</button>
      <div class="c6b1">
        <a  (click)="goToCadastroPage()">+ Abra uma conta hoje</a>
      </div>
    </div>
    <img src="../../assets/media/corpo-06.PNG" alt="">
  </div>
  
  </div>
  <app-abrir-conta></app-abrir-conta>
  <app-footer></app-footer>