<app-nav-bar></app-nav-bar>
<app-header header="Suporte"></app-header>
<div class="corpo-01">
    <div class="info">
        <i class="fa fa-comments icon"></i>
        <div class="title">
            <h3>S.A.C.</h3>
        </div>
        <div class="texto">
            <p>support@inffinitx.com</p>
        </div>
    </div>
    <div class="info">
        <i class="fa fa-phone icon"></i>
        <div class="title">
            <h3>Entre em contato conosco.</h3>
        </div>
        <div class="texto">
            <p>Contato: 11 9.0000-0000</p>
            <p>Suporte: 11 9.0000-0001</p>
        </div>
    </div>
    <div class="info">
        <i class="fas fa-map-marker-alt icon"></i>
        <div class="title">
            <h3>Localização</h3>
        </div>
        <div class="texto">
            <p>Av. Brg. Faria Lima, 3015 - Pinheiros, São Paulo - SP, 01451-001</p>
        </div>
    </div>
</div>
<div class="map">
    <h2></h2>
    <app-map></app-map>
</div>
<!-- <div class="corpo-02">
    <div class="email">
        <app-enviar-email></app-enviar-email>
    </div>
</div> -->
<app-abrir-conta></app-abrir-conta>
<app-footer></app-footer>

<div id="teste"></div>