<app-nav-bar></app-nav-bar>
<div class="corpo-00">
    <div class="bloco-01">
        <div class="title">
            <h1>Do dinheiro às <span class="title-criptomoeda">criptomoedas</span> em segundos</h1>
            <p>Descubra a revolução das criptomoedas. Um mercado descentralizado e baseado em tecnologia blockchain.</p>
            <p>Os investidores têm a oportunidade de aproveitar a volatilidade desse mercado em constante evolução.</p>
        </div>
        <div >
            <button (click)="goToCadastroPage()" class="btn">Cadastre-se</button>
        </div>
    </div>
    <div class="bloco-02"></div>
</div>

<div class="corpo-01">
    <div class="bloco-01">
        
    </div>
    <div class="leiaut-cripto">
        <div class="criptos">
            <div class="search-container">
                <input type="text" placeholder="Pesquisar moeda" [(ngModel)]="filtroMoeda" (input)="filtrarCriptomoedas()">
              </div>
              <div class="table-container">
                <table>
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Vlr de Merc</th>
                      <th>Vlr de Merc TD</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let criptomoeda of criptomoedasFiltradas">
                      <td>
                        <span class="coin-icon">
                          
                        </span>
                        {{ criptomoeda.nome }}
                      </td>
                      <td>{{ criptomoeda.capMercado }}</td>
                      <td>{{ criptomoeda.capMercadoTotalmenteDiluida }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>

</div>

<app-footer></app-footer>>